 html { 
  background: url(../img/self.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    margin: 0px;
}
.name_box {
    padding: .5em;
    text-align: center;
    margin: 0 auto;
    margin-top: 15em;
    margin-bottom: 20em;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.3);
    width: 27%;
    color: white;
    font-family: Helvetica;
}

.about_box {
    background-color: #c4a68f;
    padding: .5em;
    text-align: center;
    font-size: 1.5em
}

.about_container {
    background-color: #c4a68f;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    width: 33%;
    height: 33.33%;
    position:relative;
    border: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.footer {
    color: white;
    background-color: #c4a68f;
    padding: .05em;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

li a {
    padding: 1em;
}